

html {
    scroll-behavior: smooth;
}

/*Container*/



/*Background*/

.legendOfZeldaNESBg {
    width: 100%;
    background-image: url(/Images/Legend-of-Zelda-NES-Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.adventureOfLinkNESBg {
    width: 100%;
    background-image: url(/Images/The_Adventure_of_Link_NES_Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aLinkToThePastSNESBg {
    width: 100%;
    background-image: url(/Images/A_Link_To_The_Past_SNES_Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linksAwakeningSwitchBg {
    width: 100%;
    background-image: url(/Images/Links_Awakening_Switch_Wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ocarinaOfTimeN64Bg {
    width: 100%;
    background-image: url(/Images/Ocarina_Of_Time_N64_Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.majorasMaskN64Bg {
    width: 100%;
    background-image: url(/Images/Majoras_Mask_N64_Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*background Video*/

.bgVideoContainer {
    position: relative;
    overflow: hidden;
}

.bgVideo {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
}

/* Modal Image*/

.modalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Image*/

.imageHov:hover {
    cursor: pointer;
}

/*button*/

button > a {
    text-decoration: none;  
    
}

.buttonHov:hover {
    background-color: cadetblue !important;
    color: #000 !important;
}

/*Media Queries*/

@media screen and (min-width: 1000px) {
    .w3-container p {
    max-width: 800px;    
    margin: auto;
    }
    
} 





